# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema

# Database
DATABASE_URL="file:./blog.db"

# Admin
ADMIN_PASSWORD="admin"

# API
API_KEY="your-api-key-here"
